*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: black; */
}

#main{
    width: 100%;
    height: 100vh;
}
#div1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#div1>div{

    box-shadow: #FBBDBD 0px -50px 36px -28px inset;
    width: 20%;
    padding: 1px 10px;
    
    margin-bottom: 20px;
}
#div1>div>h2{
  
    text-align: center;
}

#div2{
    width: 100%;
}
#div2>div{
    display: flex;
    width: 100%;
    gap: 30px;
   
}
.img1{
    width: 100%;
}
.text_div{
    position: relative;
top: -60px; 
padding: 20px;
/* border: 2px solid #FFFFFF; */
opacity: 0.6;
background-color: #FFFFFF;
}
.text_div>h3{
align-items: center;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
}
.image_div{
    width: 100%;
    margin-bottom: 30px;
    /* height: 20vh; */
    /* border: 1px solid red; */
}
.image_div>img{
    width: 100%;
}



/* slider */
.image_div{
    position: relative;
}
#left_btn,#right_btn{
    position: absolute;
    top: 50%;
}
/* .slider_btn:nth-child(2){ */
    #left_btn{
    left: 5%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}
/* .slider_btn:nth-child(3){ */
#right_btn{
    right: 5%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}

.img_wallet{

    /* padding: 30px; */
    /* margin: 30px; */
    /* padding-left: 50px; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text_divv{
    position: relative;
top: -100px; 
padding: 20px;
/* border: 2px solid #FFFFFF; */
opacity: 0.6;
background-color: #FFFFFF;
}
.text_divv>h3{
align-items: center;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
color: black;
}



/* slider2 */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.contain{
    width: 90%;
    height: 75vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.box{
    width: 450%;
    height: 420px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
    transition: 1s;

    /* border: 1px solid rgb(0, 0, 0); */

}
.box:hover{
    transform: scale(1.05);
    /* z-index: 0.5; */


}


.model{
    height: 280px;
    /* max-height: 100%; */
    width: 100%;
    /* min-width: 120%; */
    /* border: 1px solid black; */
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* width: 500px; */
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
.details p,h3,h2{
    /* font-family: ; */

}

.rating{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.containerm{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    /* height: 40vh; */
    background: #FEE8E8;
    align-items: center;
    text-align: center;
    /* width: 90%; */
    /* padding-left: 40px; */
}

.div1{
    margin-top: 40px;
}

#div2i{
    margin-right: 20%;
}

.sort_i{
    display: flex;
    justify-content: space-between;
}

/* vedio */
.sort_vedio{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 100%;
    padding-right: 20px; 
    margin-top: 40px;
    
  
    /* border: 1px solid red; */
}
.sort_vedio>div{
    width: 80%;
    display: flex;
    gap: 30px;
    flex-direction: column;
   /* border: 1px solid blue; */
}
.sort_vedio>div>img{
width: 90%;
height: 40vh;

}

.icon{
    display: flex;
    justify-content: center;
    /* align-items: center;
    text-align: center; */
    position: relative;
    top: -150px;
    /* background-color:white ; */
    /* width: 20px; */
    /* width: 100%; */
}
.fa-instagram{
    width: 15px;
    background-color: #ebdbdb;
    opacity: 0.6;
    padding: 10px;
    border-radius: 10px;
}
.fal{
    width: 100%;
}

.video{
    /* border: 5px solid red; */
}

    /* width: 100%; */
    /* border: 5px solid blue; */


