*{
    padding: 0;
    margin: 0;
}

#main{
    width: 100%;
    height: 100vh;
}
#div1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#div1>div{

    box-shadow: #FBBDBD 0px -50px 36px -28px inset;
    width: 20%;
    padding: 1px 10px;
    
    margin-bottom: 20px;
}
#div1>div>h2{
  
    text-align: center;
}

#div2{
    width: 100%;
}
#div2>div{
    display: flex;
    width: 100%;
    gap: 30px;
   
}
.img1{
    width: 100%;
}
.text_div{
    position: relative;
top: -60px; 
padding: 20px;
/* border: 2px solid #FFFFFF; */
opacity: 0.6;
background-color: #FFFFFF;
}
.text_div>h3{
align-items: center;
text-align: center;
}
.image_div{
    width: 100%;
    margin-bottom: 30px;
    /* height: 20vh; */
    /* border: 1px solid red; */
}
.image_div>img{
    width: 100%;
}