*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content:space-between;
    flex-grow: 5;
    background-color:#FEE8E8;
}
#logo_container{
    flex-grow: 2;
}
#search_bar{
    flex-grow: 8;
}
#search_bar input{
    width: 550px;
    line-height: 35px;
}
#login_cart{
    display: flex;
    flex-grow: 1;
    gap: 30px;

}
#bag_cart{
    border-left: 2px solid gray;
    height: 32px;
    padding-left: 25px;
}
#bag_cart img,#login img{
    width: 25px;
}
#nav_link a{
    padding: 15px 20px;
    text-decoration: none;
}
#nav_link{
    margin-left: 50px;
}