.ref_main{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ref_main>div{
    display: flex;
    margin-top: 20px;
    /* gap: 60px; */
    justify-content: center;
    align-items: center;
    /* font-display: row; */
    /* justify-content: space-between; */
    /* border: 2px solid red; */
}
.ref_main>div>div{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.ref_main>div>div>img{
    /* width: 100%; */
    padding: 30px;
}
.ref_left{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
}
#ref_img{
    /* border: 2px solid red; */
    width: 200%;
    margin-right: 40px;
}
.ref_left>div{
    width: 100%;
    /* border: 1px solid blue; */
}
.ref_left>div:nth-child(2){
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    margin-top: 20px;
    width: 50%;
    padding: 20px 25px;
    border-radius: 15px;
    border: none;
    color: #ffff;
    background-color: black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(51, 47, 47);

}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h5{
    font-size: 1.2rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.3;
    /* color: black; */
    font-size: 1rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}

.secton{
    display: flex;
    flex-direction: row;
}