
#mainshop{
    display: flex;
}

#shopping_obj img{
    width: 50%;
}

#skinnav{
    border: 1px solid black;
    height: 100px;
}

#txtdiv1{
 margin-left: -400px;
}
/* cart */
#cart_icon{
    font-size: 2.8rem;
    cursor: pointer;
}

.cartdiv{
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: scroll;
    padding: 20px;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 100%);
    border: 1px solid black;
    transition: 1.5s;
    background-color: white;
}
.cartdiv.active{
    right: 0;
    transition: .5s;
}

.cart_title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart_box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart_box img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
#cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}
.detail_box{
    display: grid;
    row-gap: .5rem;
}

.cartproduct_title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart_price{
font-weight: 500;
}

.card_quantity{
    border: 1px solid red;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart_total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total_title{
    font-size: 1rem;
    font-weight: 600;
}

.total_price{
    margin-left: .5rem;

}

.p_checkout{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
cursor: pointer;
}

.p_checkout:hover{
    background-color: #ff9797;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}