/* #shop_nav{
    border: 1px solid black;
    height: 100px;
} */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#skincareh1{
  font-family: din-2014, sans-serif ; 
  font-size: 30px;
  text-align: center;
margin-top: 30px;
}
#div_h2skinncare{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#skincare_div{
    box-shadow: #FBBDBD 0px -50px 36px -28px inset;
    width: 20%;
    padding: 1px 10px;
    text-align: center;
}

.parent_productmargin{
   
        border: 1px solid rgb(201, 195, 195);
        width: 95%;
         margin: auto;
        margin-top: 30px;
    
}
.hr_skinproduct
{
    width: 95%;
    color: rgb(201, 195, 195);
    margin: auto;
    margin-top: 50px;
   
}
.hrskincareproduct1234{
    margin-bottom: -130px;
}
#mainshop{
    display: flex;
}

#shopping_obj img{
    width: 50%;
}

#skinnav{
    border: 1px solid black;
    height: 100px;
}

#txtdiv1{
 margin-left: -400px;
}
/* cart */
#cart_icon{
    font-size: 2.8rem;
    cursor: pointer;
}

.cartdiv{
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: scroll;
    padding: 20px;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 100%);
    border: 1px solid black;
    transition: 1.5s;
    background-color:rgb(248, 241, 241);
}
.cartdiv.active{
    right: 0;
    transition: .5s;
}

.cart_title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart_box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart_box img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
#cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}
.detail_box{
    display: grid;
    row-gap: .5rem;
}

.cartproduct_title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart_price{
font-weight: 500;
}

.card_quantity{
    border: 1px solid red;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart_total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total_title{
    font-size: 1rem;
    font-weight: 600;
}

.total_price{
    margin-left: .5rem;

}

.p_checkout{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
cursor: pointer;
}

.p_checkout:hover{
    background-color: #ff9797;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

#video_parentdiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid rgb(201, 195, 195);
    width: 95%;
     margin: auto;
    margin-top: 30px;
}

#watchlearn{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding-top: 25px;
}
#reveiw_section{
    margin-left: 25px;
}

#cart_icon{
    border: 1px solid  red;
    
}

#imgdiv123{
    border: 1px solid red;
}
#txtdiv1{
    border: 1px solid red; 
    /* margin-left: 0rem; */
    padding-left: 3rem;
}

#addtobagbtn{
   
     
        margin-top: 1rem;
        padding: 12px 20px;
        border: none;
        background-color: black;
        color: white;
        font-size: 1rem;
        font-weight: 500;
    cursor: pointer;
}
    
    #addtobagbtn:hover{
        background-color: #ff9797;
    }
